@model Home

@{
	ViewData["Title"] = "SportsPro :)";
	Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		SportsPro
	</title>
</head>
<body>
	<div class="navBarDiv container-fluid">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<h2>SportsPro</h2>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link  link-light fw-bold active" aria-current="page" href="/Home/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-light fw-bold active" aria-current="page" href="/Product/">Products</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-light fw-bold active" aria-current="page" href="/Technician/">Technicians</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-light fw-bold active" aria-current="page" href="/Customer/">Customers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-light fw-bold active" aria-current="page" href="/Incident/">Incidents</a>
						</li>
						<li class="nav-item">
							<a class="nav-link link-light fw-bold active" aria-current="page" href="/Registration/">Registrations</a>
						</li>
					</ul>
					<div class="aboutPage float-right">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link link-light fw-bold active" aria-current="page" href="/About/">About</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<br />
	<div class="mainPage">
		<div class="sportsProTitle">
			<h2>SportsPro Technical Support</h2>
			<p>Sports managament software for the sports enthusiast</p>
		</div>
		<h2>Admin</h2>
		<div class="list-items">
			<nav class="navbar navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/Product/">Manage Products</a>
				</div>
			</nav>
		</div>
		<div class="list-items">
			<nav class="navbar navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/Technician/">Manage Technicians</a>
				</div>
			</nav>
		</div>
		<div class="list-items">
			<nav class="navbar navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/Customer/">Manage Customers</a>
				</div>
			</nav>
		</div>
		<div class="list-items">
			<nav class="navbar navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/Incident/">Manage Incidents</a>
				</div>
			</nav>
		</div>
		<div class="list-items">
			<nav class="navbar navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/Registration/">Manage Registrations</a>
				</div>
			</nav>
		</div>
		</br>
		<h1>Technicians</h1>
		<div class="list-items">
			<nav class="navbar navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/Incident/">Update Incident</a>
				</div>
			</nav>
		</div>
		<br />
	</div>
</body>
<footer>&copy;2022 - SportsPro</footer>
</html>
