@model Customer


@{
    ViewData["Title"] = "Delete a Customer";

    Layout = "_Layout";
}
<body>
    <br />
    <div class="deleteStuff">
        <h2>Confirm Deletion</h2>
        <h3>@Model.FirstName @Model.LastName</h3>

        <form asp-controller="Customer" asp-action="Delete" method="post">
            <input type="hidden" asp-for="CustomerId" /><br />

            <button type="submit" class="btn btn-primary">Delete</button>
            <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>