@model Technician


@{
    ViewData["Title"] = "Delete a Technician";

    Layout = "_Layout";
}
<body>
    <br />
    <div class="deleteStuff">
        <h2>Confirm Deletion</h2>
        <h3>@Model.Name</h3>

        <form asp-controller="Technician" asp-action="Delete" method="post">
            <input type="hidden" asp-for="TechnicianId" /><br />

            <button type="submit" class="btn btn-primary">Delete</button>
            <a asp-controller="Technician" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
<br />

<footer>&copy;2022 - SportsPro</footer>