@model Technician


@{
    ViewData["Title"] = "Delete a Technician";

    Layout = "_Layout";
}
<body>
    <div class="navBarDiv container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <h2>SportsPro</h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  link-light fw-bold active" aria-current="page" href="/Home/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="/Product/">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="/Technician/">Technicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="/Customer/">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="#">Incidents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="#">Registrations</a>
                        </li>
                    </ul>
                    <div class="aboutPage float-right">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link link-light fw-bold active" aria-current="page" href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br />
    <div class="deleteStuff">
        <h2>Confirm Deletion</h2>
        <h3>@Model.Name</h3>

        <form asp-controller="Technician" asp-action="Delete" method="post">
            <input type="hidden" asp-for="TechnicianId" /><br />

            <button type="submit" class="btn btn-primary">Delete</button>
            <a asp-controller="Technician" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
<br />

<footer>&copy;2022 - SportsPro</footer>