@model List<Technician>
@{

    ViewData["Title"] = "SportsPro";
    Layout = "_Layout";

}
<body>
    <div class="container-fluid">
        <h2 class="mt-2">Technician</h2>
        @foreach (var technician in Model)
        {
            <form asp-action="Find" asp-controller="Technician" asp-route-id="@technician.TechnicianId" method="get">
                <select class="form-select">
                    <option value="">Select a technician...</option>
                    <option value="@technician.TechnicianId">@technician.Name</option>
                </select>
                <button class="btn btn-primary mt-2" type="submit">Select</button>
            </form>
        }
    </div>
    <br/>
</body>